*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,191,0,1) 32%, rgba(146,90,109,1) 58%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}
input{
    background-color: black;
    width: 350px;
    height: 120px;
    color: #fff;
    text-align: right;
    padding: 1rem 1.5rem;
    font-size: 50px;
}
.number{
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #999;
}

button{
    font-size: 30px;
    padding: 10px 28px;
}
.equal{
    grid-column: -2;
    grid-row: 2/ span 4;
    background-color: rgb(248, 176, 82);
    color: #fff;
    font-size: 60px;
    padding: 1rem;
}